.conteiner {
    width: 1920px;
    display: flex;
}

.outside {
    width: 20%;
    background-color: black;
    color: white;
    height: 900px;
    justify-content: space-between;

}


.outside_h1 {
    display: flex;
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
}

.outside_head {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 40PX;
}

span {
  font-size: 20px;
    margin-top: 5px;
    font-weight: 20px; 
} 

.outside_medll {
    margin: 40px 40px 40px 40px;
    flex-direction: column;
    display: block;
}

.outside_imgp {
    padding: 15px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.search_input {
    border: none;
    outline: none;
}

.search_img {
    position: absolute;
}
header{
    width: 50%;
}