.conteiner {
    max-width: 1920px;
    width: 100%;
    margin-top: auto;
    display: flex;


}

.header {
    width: 100%;
}

.inside {
    width: 80%;
    height: fit-content;
}

.box {
    width: 200px;
}

.box img {
    width: 100%;
}

.outside {
    width: 20%;
    background-color: black;
    color: white;
    height: 900px;

}

h5 {
    font-size: 12px;
}

.first {
    margin-left: 100px;
    margin-right: 100px;
}

.header1 {
    color: black;

}



.header1_button {
    width: 100px;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    margin-left: 400px;

}

.Load {
    display: flex;
    justify-content: center;
    padding: 90px 0px;

}

.lo {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
}


span {
    font-size: 20px;
    margin-top: 5px;
    font-weight: 20px;
}

.outside_h1 {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;

}

.search_input {
    border: none;
    outline: none;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.search_right {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.animstion {
    position: absolute;
    background: linear-gradient(45deg, #f6f6f7, #ff72e5);
    animation-name: Change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.outside_medll {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 45px 0px;
}

.outside_head {
    display: flex;
    align-items: center;
    padding: 50px 0px 0px 15px;
}

.outside_line {
    margin-left: 80px;
}

.outside_imgp {
    display: flex;
    align-items: center;
    padding: 12px 4px;
}

.outside_a {
    color: white;
    margin-left: 60px;
}

.outside_End {
    padding: 35px 0px 0px;
}

.outside_img {
    margin-right: 15px;
}

.outside_imgp:hover {
    background-color: #ff2288;
    border-radius: 5px;
}

.outside_h4 {
    margin-left: 10px;
    padding: 10px;
}

.search_p {
    color: #ff2288;
    margin-right: 20px;
    top: 20px;
}

.search_imgr {
    width: 15px;
    height: 20px;
    margin-right: 40px;

}

.search_imgs {

    margin-right: 40px;
    margin: -10px;
}

.search_button {
    width: 90px;
    height: 40px;
    margin-left: 40px;
    background-color: #ff2288;
    color: white;
    border-radius: 10px;
}

.search_rightl {
    position: absolute;
    height: 10px;
    margin-left: 10px;

}

.search_rightr {
    position: absolute;
    height: 10px;
    margin-top: -10px;
    margin-left: 8px;
}

.section_s {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 100px;

}

.section_box {
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
}

.section_box img {
    width: 100%;
    max-width: 80px;
}

.second {
    background-color: #eae2e2;
    height: 250px;
}

.section_p {
    padding: 30px;
}

.section_box h5 {
    font-size: 15px;
}

.section_box p {
    font-size: 10px;
    color: #22222283;

}

.section_p {
    margin-left: 70px;

}

.footer_first {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    margin-top: 132px;
    flex-wrap: wrap;
    display: flex;

}

.footer_box p {
    padding: 10px 0px;

}

.footer_second {
    display: flex;
    margin-left: 70px;
    padding: 70px 0px;
}

.footer_second div {

    margin-left: 10px;

}

.search_midll {
    position: relative;
}

.m {
    position: absolute;
    right: 13px;
    padding: 5px 0px;
}

.table,
th,
td {
    border: none;
    padding: 20px 0px;

}

.inside_table {
    margin-left: 70px;
    margin-right: 100px;

}

td {
    border-bottom: 10px;
}



@keyframes Change {
    from {
        transform: #f6f6f7,
            (1);
    }

    to {
        transform: #ff72e5(3);
    }
}

@media (max-width:480px) {
    .outside {
        width: 12%;
        height: 300px;
    }

    .outside_Endd {
        display: none;

    }

    .outside_head {
        display: none;

    }

    td {
        border: outset;
    }

    .footer_box {
        padding: 50px;
    }

    .footer_second {
        top: 50px 100px;
    }

    .search_imgs {
        display: none;
    }

    .m {
        display: none;
    }
}